
<div class="center jumbotron">

<h2><%= form_tag(addvs_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Title" %>
  <%= submit_tag "Search" %>
<% end %></h2>

	<h1>Search for Suitable Job App</h1>
	<%= link_to "Sign up now!","#",class: "btn btn-lg btn-primary" %>
	<h2> This is. </h2>
	

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><center>Title</center></th>
      <th><center>Organization</center></th>      
      <th><center>Add Date</center></th>
      <th><center>Image</center></th>
    </tr>
  </thead>

 <tbody>
    <% @addvs.each do |addv| %>
      <tr>
        <td><%= addv.title %></td>
        <td><%=addv.organization.name %></td>        
        <td><%= addv.created_at.strftime("%d-%B-%Y") %></td>
        <td><%= link_to "View Add", addv.image_url %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
