<%= form_for(job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :addv_id %>
    <%= f.collection_select :addv_id, Addv.order(:title),:id,:title,include_blank: true%>
  </div>

  <div class="field">
    <%= f.label :profession_id %>
    <%= f.collection_select :profession_id, Profession.order(:name),:id,:name,include_blank: true%>
  </div>

  <div class="field">
    <%= f.label :degree_id %>
    <%= f.collection_select :degree_id, Degree.order(:name),:id,:name,include_blank: true%>
  </div>

  <div class="field">
    <%= f.label :city_id %>
    <%= f.collection_select :city_id, City.order(:name),:id,:name,include_blank: true%>
  </div>

  <div class="field">
    <%= f.label :qty %>
    <%= f.number_field :qty %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
