<p id="notice"><%= notice %></p>
<%= form_tag(jobs_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Job" %>
  <%= submit_tag "Search" %>
<% end %>

<h1>Jobs</h1>

<table class="table table-bordered table-striped">

  <thead>
    <tr>
      <th>Addv</th>
      <th>Profession</th>
      <th>Degree</th>
      <th>City</th>
      <th>Jobs Qty</th>
      

    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>

      <tr>
        <td><%= job.addv.title %></td>
        <td><%= job.profession.name %></td>
        <td><%= job.degree.name %></td>
        <td><%= job.city.name %></td>
        <td><%= job.qty %></td>
        

      </tr>
    <% end %>
  </tbody>
</table>

<br>


