<p id="notice"><%= notice %></p>

<%= form_tag(addvs_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Title" %>
  <%= submit_tag "Search" %>
<% end %>

<h1>Addvs</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Add Date</th>
      <th>Title</th>
      <th>Organization</th>
      <th>Image</th>

      

    </tr>
  </thead>

  <tbody>
    <% @addvs.each do |addv| %>
      <tr>
        <td><%= addv.created_at.strftime("%d-%B-%Y") %></td>
        <td><%= addv.title %></td>        
        <td><%=addv.organization.name %></td>
        <td><%= link_to "View Add", addv.image_url %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

