<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
			<nav>
				<ul class="nav navbar-nav navbar-left">
					<li><%= link_to "Home","http://localhost:3000/",id: "logo" %></li>
					<li><%= link_to "Newspaper","http://localhost:3000/static_pages/newspaper" %></li>
					<li><%= link_to "Find Jobs","http://localhost:3000/addvs" %></li>
					<li><%= link_to "Find by Profession","http://localhost:3000/jobs" %></li>
				</ul>
			</nav>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Help","#" %></li>
					<li><%= link_to "Log in","#" %></li>
				</ul>
			</nav>
</div>
</header>
